<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <add name="WfastCGI_CreativaMiddleEast" path="*" verb="*" type="&quot;D:\CreativaMiddleEast - Version 1\env\Lib\site-packages\wfastcgi.py&quot;" resourceType="Either" preCondition="integratedMode" />
            <add name="CreativaMiddleEastApp" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\CreativaMiddleEast - Version 1\env\Scripts\python.exe|D:\CreativaMiddleEast - Version 1\env\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="D:\CreativaMiddleEast - Version 1\env\Scripts\python.exe" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
    </system.web>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=68.178.163.254/SQLEXPRESS;Database=GP_CreativaMiddleEast" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
